<template name="labels">
    {{> navbar}}
    <div class="negate-scroll">
        <div class="page-wrap container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary add-new-label">Add new</button>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            {{#each labels}}
                            <li class="list-group-item label-row edit-label {{_id}} clearfix">
                                <span class="label-icon"><i class="fa fa-bookmark" style="color: {{color}}"></i> </span>
                                <input type="text" value="{{name}}" class="label-editable-name" name="name">
                                <a class="btn btn-danger btn-xs pull-right delete-label">Delete Label</a>
                                <div class="label-colors">
                                    {{#each colors}}
                                        <label class="color" style="background-color: {{code}}">
                                            <input type="radio" name="labelColor" value="{{code}}" class="chosenColor" id="{{code}}">
                                        </label>
                                    {{/each}}
                                </div>
                            </li>
                            {{/each}}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
